#intro { font-style:italic; color:white;  text-align: center; text-shadow:2px 2px 3px black; }
      .italy { font-style:italic; }


li.cat { list-style-type: square }

#one { color: red; font-family:"πŸ≈¡" }
#two { color: yellow; font-family:"πŸ≈¡" }
#three { color: blue; font-family:"πŸ≈¡" }