<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./css/css.css">
    <title>
        <%=a %>
    </title>
</head>
<body>
    <input type="button" value="버튼" id="button">
    <input type="button" value="이동" id="move">
    <script src= "./javascript/js.js"></script>
</body>
</html>